

/*Y.V*/
/* LA BARRE DE NAVIGATION DU HAUT */
/*===============================*/
.menu {
    background-color: white;
    box-shadow: 0px 10px 20px #FBF4F2;
    list-style: none;
    margin: 0;    
    overflow: hidden;
    padding: 0;
    top: 0;
    transition: top 0.3s;/*pour faire disparaitre a bar au scroll*/
    width: 100%;
}
.menu li {
    display: inline-block;
    cursor: default;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 30px;
}

.menu li a {    
    display: inline-block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    cursor: default;    
}

.menu li i {
    display: block;
    color: #B3CAD3;
    padding: 20px 16px;
    text-decoration: none;
}

/* changer la couleur des boutons lors du survol */
li a:hover, i:hover {
    background-color: rgba(179, 202, 211,0.7);
}


/* FOOTER */
/*=======*/

footer {
    overflow: hidden;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    right: 0;
    bottom: 0;
    position: bottom;
}
footer div {
    display: block;
    color: black;
    font-size: small;
    padding: 7px;
    text-decoration: none;
}

.text{
    float: left;
}

.accueil {
     float: right;
     padding-top: 7px;
}

