body, .js {	
	background-image: url("../images/head/fond2.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}

.txt{
	color: black;
    position: absolute;
    text-align: center;
    top: 15%;
    width: 100%;
    line-height: 1em;
}

h1{
	font-size: 3em;
    color: red;
	text-shadow: pink 0.1em 0.1em 0.2em;
}


.btext img{
    width: 100px;
}

.long{
  background-color: rgba(255,255,255,0.7);
  padding: 2%;
  color: black;
  margin:2%;
}

/*CHANGEMENT FOND pas beau*/

.matin{
    background-image: url("../images/fond/6.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}

.mimatin{
    background-image: url("../images/fond/10.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}
.midi{
    background-image: url("../images/fond/12.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}
.aprem{
    background-image: url("../images/fond/15.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}
.soir{
    background-image: url("../images/fond/18.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}

.nuit{
    background-image: url("../images/fond/20.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}

#methode1{ 
  background-color: rgba(0, 0, 0, 0.5);
  bottom:0; 
  display: none;
  float: left;
  left:0;
  overflow-y: scroll;
  position: fixed;
  right:0; 
  top:0; 
  z-index: 1000;
  
}

#methode1:target{
  display: block;
  overflow-y: scroll;
}

.popup_block{
  background: #fff;
  border: 20px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 40px #B3CAD3;
  margin: 10% auto;
  padding: 20px; 
  position: relative;
  text-align: justify;
  width: 80%;
}

img.bouton_fermer {
  float: right;
  margin: -70px -70px 0 0;
}


#selfe, #hack, #sol, #enigma, #inclinator{ 
  background-color: rgba(0, 0, 0, 0.5);
  bottom:0; 
  display: none;
  float: left;
  left:0;
  overflow-y: scroll;
  position: fixed;
  right:0; 
  top:0; 
  z-index: 1000;
  
}

#selfe:target, #hack:target, #sol:target, #enigma:target, #inclinator:target{
  display: block;
  overflow-y: scroll;
}
.popup_block{
  background: #fff;
  border: 20px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 40px #B3CAD3;
  margin: 10% auto;
  padding: 20px; 
  position: relative;
  text-align: justify;
  width: 80%;
}

img.bouton_fermer {
  float: right;
  margin: -70px -70px 0 0;
}