.header{
background-image: url("../images/soleil/15.png");
background-position: bottom;
background-repeat: no-repeat;
margin: 0;
padding: 50px;
height:auto;
width: auto;

}

/*-----------------------------------------------------------fraise*/
#fraise{
    font-family: fantasy;
    font-size: 5em;
    
}
/*fraise-----------------------------------------------------------*/


.isn {
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    padding: 2%;
    color: black;
    margin:2%;
    text-align: center;
}

.nous{
    width: 500px;
}

.ade{
    width: 600px;
}

.yo{
    width: 465px;
}

.presentation{
    background-color: rgba(255,255,255,0.7);
    padding: 2%;
    color: black;
    margin:2%;
}

.pagesMenu{
    background-color: rebeccapurple;
    margin: 0;
    padding: 1%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 59%;/*100-(7*6)=58*/
    margin-bottom: 50px;
}
.btn{
    width: 150px;
    height: 75px;
    display: inline-block;
    cursor: default;
    margin: 0 7% 0 7%;
    border-radius: 10px;
}
/*------------------------------police---------------------------*/
@font-face{
    font-family: 'modern';
    src: url("../Fonts/Computerfont.ttf");
}
@font-face {
    font-family: 'bugg';
    src: url("../Fonts/Positive_System.otf");
}
@font-face {
    font-family: 'particle';
}
