/*
*Syle for the head and for the background who change during the day
*the js change the class of a div and hire we have the bkgroud od the diffrerents clases
*check github.com/lostsh/sunny for more infomations
*/
#header{
    /*background-image: url("../images/head/15.png");*/
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0;
    /*padding: 50px;*/
    height: 300px;
    width: 100%;
}
.headMatin{
    background-image: url("../images/head/6.png");
}
.headMiMatin{
    background-image: url("../images/head/10.png");
}
.headMidi{
    background-image: url("../images/head/12.png");
}
.headAprem{
    background-image: url("../images/head/15.png");
}
.headSoir{
    background-image: url("../images/head/18.png");
}
.headNuit{
    background-image: url("../images/head/20.png");
}
#horloge{
    font-family: 'digits';
    font-size: 2em;
    position: absolute;
    top: 235px;
    transform: translateX(-50%);
    left: 50%;
}
/*ci dessou le background dont les proprietes sont comprises dans la defintiton du body sur design.css*/
.matin{
    background-image: url("../images/fond/6.jpg");
}
.mimatin{
    background-image: url("../images/fond/10.jpg");
}
.midi{
    background-image: url("../images/fond/12.jpg");
}
.aprem{
    background-image: url("../images/fond/15.jpg");
}
.soir{
    background-image: url("../images/fond/18.jpg");
}
.nuit{
    background-image: url("../images/fond/20.jpg");
}
/*------------------------------police---------------------------*/
@font-face{
    font-family: 'digits';
    src: url("../Fonts/digital_display_tfb.ttf");
}
