#header{
    /*background-image: url("../images/head/15.png");*/
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0;
    /*padding: 50px;*/
    height: 300px;
    width: 100%;
}
.headMatin{
    background-image: url("../images/head/6.png");
}
.headMiMatin{
    background-image: url("../images/head/10.png");
}
.headMidi{
    background-image: url("../images/head/12.png");
}
.headAprem{
    background-image: url("../images/head/15.png");
}
.headSoir{
    background-image: url("../images/head/18.png");
}
.headNuit{
    background-image: url("../images/head/20.png");
}
#horloge{
    font-family: 'modern';
    /*font-size: 2em;*/
}

.isn {
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    padding: 2%;
    color: black;
    margin:2%;
    text-align: center;
}

.presentation{
    background-color: rgba(255,255,255,0.7);
    padding: 2%;
    color: black;
    margin:2%;
}

.pagesMenu{
    background-color: rebeccapurple;
    margin: 0 0 0 50px;
    padding: 1%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 59%;/*100-(7*6)=58*/
    /*margin-bottom: 50px;*/
}
.btn{
    width: 150px;
    height: 75px;
    display: inline-block;
    cursor: default;
    margin: 0 7% 0 7%;
    border-radius: 10px;
}
/*------------------------------police---------------------------*/
@font-face{
    font-family: 'modern';
    src: url("../Fonts/Computerfont.ttf");
}
/*
@font-face {
    font-family: 'bugg';
    src: url("../Fonts/PositiveSystem.otf");
}*/
